.App{
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  height: auto;
}
header{
  background-color: #ABABAB;
  height: 120px;
  width: 100%;
  text-align: center;
}
.hero{
  display: flex;
  align-content: center;
  width: 100%;
  padding: 20px;
  background-color: #D8D8D8;
}
h1{
  font-size: 40px;
  color: white;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.inputfields{
  justify-content:center;
}
input{
  height: 35px;
  width: 200px;
  margin-right: 30px;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 14px;
  color: gray;
}
button{
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 120px;
  border: 1px solid teal;
  border-radius: 8px;
  background-color: teal;
}
footer{
  justify-content:center;
  width: 100%;
  background-color: #ABABAB;
  padding: 20px;
}
.largeimage{
  align-self: center;
  height: 400px;
  margin:20px;
}
.smallimage{
  height: 120px;
  margin: 10px
}